    <script src="./js/svg4everybody/svg4everybody.min.js?v={{ version }}"></script>
    <script src="./js/cash-dom/cash.min.js?v={{ version }}"></script>
    <script src="./js/swiper/js/swiper.min.js?v={{ version }}"></script>
    <script src="./js/glightbox/js/glightbox.min.js?v={{ version }}"></script>
    <script src="./js/script.js?v={{ version }}"></script>
</body>
</html>
