<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />

    <meta name="robots" content="{{ robots }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="{{ author }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ path }}/other/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ path }}/other/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ path }}/other/favicon/favicon-16x16.png" />
    <link rel="manifest" href="{{ path }}/other/favicon/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ currentPath }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="{{ pageWithPath }}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{ twitter }}" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />

    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "{{ currentPath }}" ,
        "name": "{{ title }}",
        "logo": "{{ logoWithPath }}",
        "contactPoint": {
            "@type": "ContactPoint",
            "email": "{{ email }}",
            "contactType": "Support"
        }
    }
    </script>

    {% for file in cssFiles %}
        {% if file != '/css/9.print/print.css' %}
            <link rel="stylesheet" media="screen" href="{{ path }}{{ file }}?v={{ version }}" />
        {% else %}
            <link rel="stylesheet" media="print" href="{{ path }}{{ file }}?v={{ version }}" />
        {% endif %}
    {% endfor %}
</head>

<body>

